
font-family: 'Segoe UI Semibold';
font-family: 'Metro';
*/
html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
li {
  list-style-type: none;
  white-space: normal;
}
input, textarea{
  border: none;
  font-family: inherit;
  outline: none;
  resize: none;
}
body {
	overflow-x: hidden;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  width: 100%;
  font-family: "Segoe UI", arial, sans-serif;
  font-weight: 400;
  background: url(../img/bg-grey.png) center repeat;
  background-size: 100% auto; 
}
.container {
  max-width: 1480px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
.red{
	color: #FF1600;
}
.btn{
	display: block;
	background: linear-gradient(85.93deg, #AF0000 2.31%, #FE4B33 69.35%, #B20000 94.39%);
	box-shadow: 0px 3.73px 0px -1.24px #900300;
	border-radius: 5px;
	text-align: center;
	outline: none;
	cursor: pointer;
	line-height: 60px;
	position: relative;
	color: #FFF500;
	font-weight: 600;
	font-size: 18px;
	font-family: 'Segoe UI';
	width: 100%;
	max-width: 345px;
	border: 1px solid transparent;
	transition: 0.3s;
	margin: 0 auto;
}
.btn::before{
	content: '';
	position: absolute;
	border: 1px solid #FFF500;
	border-radius: 5px;
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	transition: 0.3s;
}
.btn:hover{
	border-color: #FFF500;
	box-shadow: 0px 0px 12px #F4E18D;
}
.section-title{
	font-family: 'Metro', arial;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.05em;
	font-size: 24px;
	line-height: 44px;
	padding-bottom: 75px;
}
.section-title .red{
	font-size: 40px;
}
.section{
	padding: 100px 0;
}
.form-input{
	background: #fff;
	border: 1px solid #9D9D9D;
	border-radius: 2px;
	width: 100%;
	line-height: 58px;
	font-size: 18px;
	padding: 0 35px;
	transition: 0.3s;
}
.form-input:focus{
	border: 1px solid #F8F1B5;
	box-shadow: 0px 0px 6px rgba(244, 225, 141, 0.7);
}
.yellow-bg{
	background: #F8F1B5;
	position: relative;
}
.yellow-bg__bot::before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 300px;
	background: url(../img/yellow-bg.png) center no-repeat;
	background-size: 100% auto;
}
.yellow-bg__top::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	height: 300px;
	background: url(../img/yellow-bg.png) center no-repeat;
	background-size: 100% auto;
	transform: scale(1,-1);
}
.star-bg{
	background: url(../img/icons/ic-star-bg.png) center no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 210px;
	height: 210px;
	z-index: 20;
	left: 50%;
}
.star-bg__sm{
	width: 62px;
	height: 62px;
	transform: rotate(15deg);
}
.star-bg__mid{
	width: 120px;
	height: 120px;
	transform: rotate(30deg);
}
.variants-bg .start-bg-1{
	top: -100px;
	margin-left: -300px;
}
.variants-bg .start-bg-2{
	top: 23px;
	margin-left: -700px;
}
.variants-bg .start-bg-3{
  top: 420px;
  margin-left: -889px;
}
.variants-bg .start-bg-4{
	top: -100px;
	margin-left: 400px;
}
.variants-bg .start-bg-5{
	top: 200px;
	margin-left: 700px;
}
.variants-bg .start-bg-6{
	top: 637px;
  margin-left: 660px;
}
.variants-bg .start-bg-7{
	bottom: -24px;
  margin-left: 134px;
}
.variants-bg .start-bg-8{
  bottom: -45px;
  margin-left: 421px;
}
.variants-bg .start-bg-9{
	bottom: -21px;	
	margin-left: 700px;
}
.variants-bg .start-bg-10{
	bottom: 76px;
  margin-left: -1001px;
}
.variants-bg .start-bg-11{
	bottom: -69px;
  margin-left: -743px;
}
.variants-bg .start-bg-12{
  bottom: -194px;
  margin-left: -262px;
}
/*header*/
header{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: #303030;
	filter: drop-shadow(0px 0px 12px #F4E18D);
	z-index: 100;
  font-family: "Metro", arial, sans-serif;
}
.head{
	padding: 5px 0;
  height: 81px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.head-left{
	display: flex;
	position: relative;
	padding-left: 130px;
	width: 355px;
}
.logo{
	position: absolute;
	width: 105px;
	height: 99px;
	left: 0;
	top: 0;
}
.logo-txt{
	padding-top: 15px;
	max-width: 225px;
}
.menu{
	width: 550px;
	padding: 0 15px;
	align-self: center;
}
.list{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.list-item a{
	display: block;
	padding: 10px;
	transition: 0.3s;
}
.list-item a:hover{
	color: #868686;
}
.head-right{
	width: 420px;
	display: flex;
	justify-content: space-between; 
}
.head_soc{
	align-self: center;
	width: 130px;
}
.soc-icons{
	display: flex;
	justify-content: space-between;
	padding-top: 6px;
}
.soc-desc{
	display: none;
	position: absolute;
	left: 50%;
	top: 110%;
	padding: 3px 10px;
	transform: translateX(-50%);
	font-size: 12px;
	line-height: 14px;
	font-family: 'Segoe UI';
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: inset 6.36538px -6.36538px 6.36538px rgba(194, 194, 194, 0.1), inset -6.36538px 6.36538px 6.36538px rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(12.7308px);
	white-space: nowrap;
	border-radius: 2px;
	border: 2px solid rgba(255, 255, 255, 0.3);
}
.soc-desc_ic{
	position: absolute;
	left: 50%;
	top: -10px;
	margin-left: -6px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7px 8px 7px;
	border-color: transparent transparent rgba(255, 255, 255, 0.3) transparent;
}
.soc-desc_ic::before{
	content: '';
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -5px;
	background: radial-gradient(50% 50% at 50% 50%, #FF0000 45.83%, rgba(255, 0, 0, 0) 100%);
	transform: matrix(0.62, -0.78, 0.78, 0.63, 0, 0);
	width: 10px;
	height: 10px;
}
.soc-ic{
	display: block;
	position: relative;
	width: 26px;
}
.soc-ic:hover .soc-desc{
	display: block;
}
.head_phone{
	padding-left: 75px;
	position: relative;
	align-self: center;
}
.head_phone::before{
	content: '';
	position: absolute;
	background: url(../img/icons/ic-phone.png) center no-repeat;
	width: 81px;
	height: 82px;
	left: 0;
	top: -15px;
}
.phone-call{
	display: block;
	padding-bottom: 2px;
}
.phone-modal{
	display: block;
	padding-bottom: 2px;
	border-bottom: 1px solid #fff;
	transition: 0.3s;
}
.phone-modal:hover{
	border-color: transparent;
}

/*main*/
.main{
	height: 754px;
	background: url(../img/main/main-bg.png) center no-repeat;
	background-size: 100%;
	padding: 200px 0 50px;
	position: relative;
	z-index: 1;
}
.main-in{
	position: relative;
}
.title{
	font-size: 42px;
	line-height: 60px;
	font-family: 'Metro', arial;
	color: #fff;
	padding-bottom: 75px;
}
.title-desc{
	display: block;
}
.main-menu{
	z-index: 10;
	position: relative;
	background: url(../img/main/silver.jpg) center no-repeat;
	background-size: 100% 100%;
	border-radius: 30px;
	width: 60px;
	padding: 5px 9px;
	box-shadow: 0px 3px 10px rgba(71, 70, 70, 0.9);
}
.main-menu-wrap{
	position: fixed;
	left: 50%;
	margin-left: 750px;
	bottom: 35%;
	z-index: 100;
}
.main-menu-wrap::before{
	content: '';
	background: #EBD354;
	width: 119px;
	height: 119px;
	filter: blur(50px);
	position: absolute;
	top: 50%;
	margin-top: -60px;
	left: 50%;
	margin-left: -60px;
}
.main-ic a{
	display: block;
	padding: 12px;
	position: relative;
	border-bottom: 1px solid #555;
}
.main-ic:last-child a{
	border-bottom: none;
}
.main-ic_desc{
	position: absolute;
	top: 50%;
	margin-top: -15px;
	opacity: 0;
	right: calc(100% + 9px);
	background: rgba(255, 255, 255, 0.1);
	box-shadow: inset 6.36538px -6.36538px 6.36538px rgba(194, 194, 194, 0.1), inset -6.36538px 6.36538px 6.36538px rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(12.7308px);
	border-radius: 31.696px 0px 0px 31.696px;
	color: #fff;
	font-size: 12px;
  white-space: nowrap;
	line-height: 28px;
	padding: 0 5px 0 10px;
	overflow: hidden;
	transition: 0.3s;
	pointer-events: none;
	cursor: default;
}
.main-ic a:hover .main-ic_desc{
	opacity: 1;
}
.main-items{
	display: flex;
	padding-bottom: 10px;
}
.main-item{
	width: 160px;
	position: relative;
	display: block;
}
.main-item_desc{
	transition: 0.3s;
	display: block;
	text-align: center;
	font-family: 'Metro', arial;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
  line-height: 22px;
  z-index: 10;
}
.main-item:hover img{
	transform: scale(1.01);
}
.main-item img{
	transition: 0.3s;
}
.main-item:hover .main-item_desc{
	color: #ff1600;
}
/*map*/
.map{
	z-index: 20;
	position: relative;
	padding-bottom: 100px;
}
.map-in{
	display: flex;
	justify-content: space-between;
}
.map-left{
	align-self: center;
}
.map-right{
	display: block;
	position: relative;
}
.btn-map{
	max-width: 250px;
	padding-left: 35px;
}
.btn-map::after{
	content: '';
	position: absolute;
	width: 23px;
	height: 22px;
	background: url(../img/map/loop.png) center no-repeat;
	left: 36px;
	top: 50%;
	margin-top: -11px;
}
.map-dots{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #fff;
	background: #FF0000 url(../img/icons/ic-plus.svg) center no-repeat;
	box-shadow: 0px 0px 10px 6px rgba(255,0,0,1);
	position: absolute;
	cursor: pointer;
	transition: 0.3s;
}
.map-dots:hover{
	box-shadow: 0px 0px 10px 10px rgba(255,0,0,1);
}
.map-dots_txt{
	min-width: 100px;
	transition: 0.3s;
	font-size: 12px;
	line-height: 14px;
	position: absolute;
	padding: 5px 7px;
	background: #fff;
	border-radius: 3px;
	bottom: 100%;
	left: 100%;
	opacity: 0;
	pointer-events: none;
	cursor: default;
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
}
.map-dots_txt__active{
	opacity: 1;
}
.map-dots__1{
	left: 534px;
  top: 43px;
}
.map-dots__2{
  left: 397px;
  top: 187px;
}
.map-dots__3{
	left: 240px;
	top: 190px;
}
.map-dots__4{
	left: 201px;
	top: 251px;
}
.map-dots__5{
  left: 335px;
  top: 403px;
}
.map-dots__6{
	left: 218px;
	top: 418px;
}
.map-dots__7{
	left: 147px;
	top: 613px;
}
.map-dots__8{
	left: 534px;
	top: 587px;
}
.map-dots__9{
	left: 604px;
	top: 392px;
}
.map-dots__10{
	left: 547px;
  top: 242px;
}
.map-dots__11{
	left: 671px;
  top: 198px;
}
.map-dots__12{
  left: 753px;
  top: 141px;
}
.map-dots__13{
	left: 895px;
  top: 199px;
}	
.map-dots__14{
	left: 976px;
  top: 578px;
}
/* variant  */
.variants{
	/*background: url(../img/variants/1.png) top center no-repeat;*/
	position: relative;
	padding-top: 200px;
}
.variants-body-wrap{
	background: url(../img/variants/info-bg.png) top center no-repeat;
	background-size: 100% 100%;
	padding: 40px 0 0;
	margin-top: -80px;
	min-height: 675px;
}
.variants-body{
	display: flex;
}
.variants-in{
	position: relative;
}
.variants-info{
	background: #fff;
	padding: 50px;
	color: #000;
	box-shadow: 0px 3px 10px rgba(71, 70, 70, 0.9);
	border-radius: 5px;
	width: 880px;
	align-self: center;
	z-index: 25;
}
.variants-info_txt{
	padding-bottom: 10px;
}
.variants-img{
	align-self: end;
}
.variants-info_title{
	display: flex;
	padding-bottom: 25px;
}
.variants-info img{
	border-radius: 50%;
	overflow: hidden;
	width: 60px;
	height: 60px;
	display: block;
	margin-right: 25px;
}
.variants-info_name{
	color: #555;
	font-size: 18px;
	line-height: 24px;
	align-self: center;
}
.variants-info_desc{
	color: #E9E9E9;
	display: block;
}
.variants-heads{
	height: 410px;
	z-index: 22;
}
.variant-head{
	cursor: pointer;
	transition: 0.3s;
	padding: 22px;
}
.variant-head__active{
	padding-top: 55px;
}
.variant-head__active .variant-head_in{
	transform: scale(1.2);
}
.variant-head_in{
	transition: 0.3s;
	background-size: 100% auto;
	background: url(../img/variants/variants-items.png) center top no-repeat;
	height: 330px;
	padding: 70px 0 70px;
	position: relative;
}
.variant-head_title{
	font-weight: 400;
	color: #FFF500;
	font-family: 'Metro', arial;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	height: 85px;
}
.variant-head_ic img{
	margin: 0 auto;
	display: block;
}
.variant-head_star{
	top: -18px;
	left: 50%;
	margin-left: -20px;
	position: absolute;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/icons/ic-star-gold.svg), linear-gradient(180deg, #FFF500 0%, #D20500 29.17%);
	box-shadow: inset 0px 0px 2.92771px 4.22891px rgba(255, 245, 0, 0.15);
	border-radius: 50%;
}
.variants .btn-wrap{
	padding-top: 20px;
}

/* sertificate */
.sertificate{
	padding: 300px 0 170px;
	background: url(../img/sertificate/sertificate-bg.png) bottom center no-repeat;
	background-size: 100% auto;
}
.sertificate-in{
	display: flex;
	justify-content: space-between;
}
.sertificate-left{
	padding-top: 30px;
}
.sertificate-title{
	font-family: 'Metro', arial;
	font-size: 28px;
	line-height: 44px;
	letter-spacing: 0.05em;
	padding-bottom: 10px;
	display: block;
}
.sertificate-desc{
	font-family: 'Metro', arial;
	font-size: 40px;
	line-height: 60px;
	letter-spacing: 0.05em;
	color: #FF1600;
	padding-bottom: 40px;
}
.sertificate-btn .btn{
	margin: 0;
	max-width: 480px;
}
.sertificate-btn{
	position: relative;
}
.sertificate-btn::before{
	content: '';
	position: absolute;
	width: 196px;
	height: 196px;
	right: -87px;
	top: 50%;
	margin-top: -98px;
	background: url(../img/icons/goal.svg) center no-repeat;
}
.sertificate-slide{
	padding: 40px;
}
.sertificate-slide img{
	border-radius: 5px;
	box-shadow: 0px  5px 20px 0px rgba(255,0,0,1);
}
.sertificate-right{
	max-width: 750px;

}
.sertificate-bg{
	padding: 30px;
	background: url(../img/sertificate/sertificate-item-bg.png) center no-repeat;
	background-size: 100% 100%;
}
.sertificate-slider{
	max-width: 670px;
	margin: 0 auto;
	border: 1px solid #9D9D9D;
	border-radius: 5px;
}
.sertificate .slick-next{
	right: -25px;
}
.sertificate .slick-prev{
	left: -25px;
	z-index: 10;
}
/* like */
.like{
	background: url(../img/grey-bg.png) top center no-repeat;
	background-size: 100% calc(100% - 400px);
	color: #fff;
	margin-top: -70px;
	padding-top: 170px;
	position: relative;
}
.like::before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: calc(100% - 500px);
	background: #F8F1B5;
	z-index: -10;
}
.like::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 750px;
	background: url(../img/like/guns.png) bottom left no-repeat;
	background-size: 100% auto;
	z-index: 10;
}
.like-body:first-child,
.like-body:nth-child(2){
	padding-bottom: 700px;
}
.shoot{
	position: absolute;
	z-index: 5;
}
.shoot__1{
	background: url(../img/like/goal-light.png) center no-repeat;
	width: 55px;
	height: 36px;
	left: 10%;
	top: 30%;
}
.shoot__2{
	background: url(../img/like/goal-red.png) center no-repeat;
	width: 99px;
	height: 85px;
	left: 5%;
	bottom: 40%;
}
.shoot__3{
	background: url(../img/like/goal-red.png) center no-repeat;
	width: 99px;
	height: 85px;
	right: 10%;
	top: 30%;
}
.shoot__4{
	background: url(../img/like/goal-light.png) center no-repeat;
	width: 55px;
	height: 36px;
	right: 10%;
	top: 50%;
}
.coach_desc{
	font-size: 24px;
	line-height: 30px;
	max-width: 440px;
	padding-bottom: 140px;
}
.coach-quote{
	font-size: 18px;
	line-height: 24px;
	padding: 25px 35px;
	border-radius: 15px;
	background: rgba(196, 196, 196, 0.1);
	box-shadow: inset 22.0188px -22.0188px 22.0188px rgba(149, 149, 149, 0.1), inset -22.0188px 22.0188px 22.0188px rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(44.0376px);
	max-width: 330px;
	position: relative;
}
.coach-quote::before{
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 129px;
	height: 74px;
	background: url(../img/like/trianle.png) center no-repeat;
}
.coach-slider{
	padding-bottom: 200px;
	width: 1420px;
}
.coach-slide_in{
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-bottom: 530px;
}
.coach-slide_img{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -600px;
	z-index: 5;
}
.coach-review_img{
	border-radius: 50%;
	overflow: hidden;
	width: 59px;
	align-self: center;
	height: 59px;
}
.coach-review{
	max-width: 480px;
}
.coach-review_info{
	align-self: flex-end;
	display: flex;
	padding-right: 80px;
	min-height: 80px;
	background: url(../img/icons/ic-quote.svg) center right no-repeat;
}
.coach-review_name{
	align-self: center;
	display: block;
	padding-left: 10px;
	color: #9D9D9D;
	font-size: 18px;
	line-height: 24px;
}
.coach-right{
	display: flex;
	flex-direction: column;
}
.coach-review_txt{
	padding-right: 60px;
}
.coach-review_link{
	display: block;
	text-align: right;
	text-decoration: underline;
}
.coach-name{
	height: 285px;
	padding-top: 120px;
	margin-top: 30px;
	margin: 30px auto 0;
	width: 285px;
	background: url(../img/like/coach-star.png) center no-repeat;
	background-size: cover;
}
.coach-name_desc{
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 10px;
	position: relative;
}
.coach-name_title{
	font-family: 'Metro', arial;
	font-size: 32px;
	line-height: 44px;
	text-align: center;
	position: relative;
}
.coach-name_title span{
	z-index: 20;
	position: relative;
}
.coach-name_title::before{
	content: '';
	width: 684px;
	height: 49px;
	background: #FF1600;
	top: 0;
	right: -65px;
	position: absolute;
	z-index: 4;
}
.tab-head{
	cursor: pointer;
	transition: 0.3s;
}
.tab-head:hover{
	opacity: 0.8;
}
.tab-body{
	display: none;
}
.tab-body__active{
	display: block;
}
/* game */
.game{
	padding: 0 0 350px;
}
.game-gallery{
	background: url(../img/game/game-gallery-bg.jpg) center no-repeat;
	background-size: 100% 100%;
	padding: 42px;
}
.game-gallery img{
	display: block;
	min-height: 100%;
}
.game-gallery_top{
	display: flex;
}
.game-gallery_top-item{
	width: 20%;
	overflow: hidden;
	align-self: stretch;
}
.game-gallery_bot{
	display: flex;
}
.game-gallery_bot-item{
	width: 25%;
}
.like-head-wrap{
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.like-head-wrap__plus::before{
	content: '';
	position: absolute;
	width: 307px;
	height: 288px;
	background: url(../img/like/plus.png) center no-repeat;
	left: -150px;
	top: -150px;
	background-size: contain;
}
.like-tab{
	font-family: 'Metro';
	font-size: 16px;
	padding: 27px 0;
	line-height: 24px;
	height: 80px;
	text-align: center;
	background: #536953;
	position: relative;
	width: calc(33.3% - 53px);
	z-index: 10;
	color: #fff;
	display: flex;
  justify-content: center;
}
.like-tab::before,
.like-tab::after{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	transition: 0.3s;
}
.like-tab:first-child::before{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 80px 0 0 80px;
	border-color: transparent transparent transparent #536953;
	right: -79px;
}
.like-tab:nth-child(2)::before{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 80px 80px 0;
	border-color: transparent #536953 transparent transparent;
	left: -79px;
}
.like-tab:nth-child(2)::after{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 80px 0 0 80px;
	border-color: transparent transparent transparent #536953;
	right: -79px;
}
.like-tab:last-child::before{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 80px 80px 0;
	border-color: transparent #536953 transparent transparent;
	left: -79px;
}
.like-tab-ic{
	display: inline-block;
	transition: 0.3s;
	align-self: center;
	margin-right: 14px;
}
.like-tab:first-child .like-tab-ic{
	background: url(../img/game/1.svg) center no-repeat;
	width: 105px;
	height: 38px;
}
.like-tab:nth-child(2) .like-tab-ic{
	background: url(../img/game/2.svg) center no-repeat;
	width: 53px;
	height: 55px;
}
.like-tab:last-child .like-tab-ic{
	background: url(../img/game/3.svg) center no-repeat;
	width: 55px;
	height: 55px;
}
.tab-head__active{
	background: #fff;
	color: #FF1600;
	cursor: default;
	pointer-events: none;
}
.tab-head__active.like-tab:first-child::before{
	border-color: transparent transparent transparent #fff;
}
.tab-head__active.like-tab:first-child .like-tab-ic{
	background: url(../img/game/11.svg) center no-repeat;
}
.tab-head__active.like-tab:nth-child(2)::before{
	border-color: transparent #fff transparent transparent;
}
.tab-head__active.like-tab:nth-child(2)::after{
	border-color: transparent transparent transparent #fff;
}
.tab-head__active.like-tab:nth-child(2) .like-tab-ic{
	background: url(../img/game/22.svg) center no-repeat;
}
.tab-head__active.like-tab:last-child::before{
	border-color: transparent #fff transparent transparent;
}
.tab-head__active.like-tab:last-child .like-tab-ic{
	background: url(../img/game/33.svg) center no-repeat;
}
.like-tab-shadow{
	position: absolute;
	height: 10px;
	bottom: -1px;
	box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
	z-index: 10;
}
/*.tab-head__active.like-tab .like-tab-shadow{
	background: #FF1600;
}*/
.like-tab:first-child .like-tab-shadow{
	left: 0;
	right: -79px;
}
.like-tab:nth-child(2) .like-tab-shadow{
	left: 0;
	right: -79px;
}
.like-tab:last-child .like-tab-shadow{
	left: 0;
	right: 0;
}
/*----------------------------*/
.yellow .like-tab{
	background: #EBD354;
	color: #555;
}
.yellow .tab-head__active.like-tab{
	background: #fff;
	color: #FF1600;
}
.like .like-tab:first-child .like-tab-ic{
	background: url(../img/like/1.svg) center no-repeat;
}
.like .like-tab:nth-child(2) .like-tab-ic{
	background: url(../img/like/2.svg) center no-repeat;
}
.like .like-tab:last-child .like-tab-ic{
	background: url(../img/like/3.svg) center no-repeat;
}
.yellow .like-tab:first-child::before{
	border-color: transparent transparent transparent #EBD354;
}
.yellow .like-tab:nth-child(2)::before{
	border-color: transparent #EBD354 transparent transparent;
}
.yellow .like-tab:nth-child(2)::after{
	border-color: transparent transparent transparent #EBD354;
}
.yellow .like-tab:last-child::before{
	border-color: transparent #EBD354 transparent transparent;
}

.yellow .tab-head__active.like-tab:first-child::before{
	border-color: transparent transparent transparent #fff;
}
.like .tab-head__active.like-tab:first-child .like-tab-ic{
	background: url(../img/like/11.svg) center no-repeat;
}
.yellow .tab-head__active.like-tab:nth-child(2)::before{
	border-color: transparent #fff transparent transparent;
}
.yellow .tab-head__active.like-tab:nth-child(2)::after{
	border-color: transparent transparent transparent #fff;
}
.like .tab-head__active.like-tab:nth-child(2) .like-tab-ic{
	background: url(../img/like/22.svg) center no-repeat;
}
.yellow .tab-head__active.like-tab:nth-child(3)::before{
	border-color: transparent #fff transparent transparent;
}
.yellow .tab-head__active.like-tab:nth-child(3)::after{
	border-color: transparent transparent transparent #fff;
}
.yellow .tab-head__active.like-tab:last-child::before{
	border-color: transparent #fff transparent transparent;
}
.like .tab-head__active.like-tab:last-child .like-tab-ic{
	background: url(../img/like/33.svg) center no-repeat;
}
.game-body-wrap{
	margin-top: 30px;
}
.game-body{
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0px 15px 20px 20px rgba(0, 0, 0, 0.25);
}
.game-body img{
	display: block;
	width: 100%;
}
.game-tab:first-child{
	width: 26.7%;
}
.game-tab:nth-child(2){
	width: 35%;
}
.game-tab:last-child{
	width: 26.7%;
}
.game-tr{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.game-left{
	width: 440px;
	align-self: center;
}
.game-mid{
	width: 540px;
	align-self: center;
}
.game-right{
	width: 350px;
	align-self: center;
}
.game-left_title{
	font-family: 'Metro', arial;
	font-size: 22px;
	line-height: 32px;
	padding-left: 90px;
	color: #FF1600;
	margin-bottom: 30px;
	background: url(../img/icons/ic-like.png) left center no-repeat;
}
.game-left_desc{
	max-width: 370px;
	font-size: 18px;
	line-height: 24px;
}
.game-mid{
	padding: 73px 54px;
	background: rgba(196, 196, 196, 0.1);
	box-shadow: inset 22.0188px -22.0188px 22.0188px rgba(149, 149, 149, 0.1), inset -22.0188px 22.0188px 22.0188px rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(44px);
	border-radius: 15px;
}
.game-mid_title{
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 18px;
	display: block;
	font-family: 'Metro', arial
}
.game-mid_txt{
	padding-bottom: 8px;
	font-size: 18px;
	line-height: 24px;
}
.game-right_item{
	cursor: pointer;
	font-size: 24px;
	line-height: 30px;
	padding: 8px 10px 8px 65px;
	margin-bottom: 8px;
	background: url(../img/icons/ic-bullet.png) left 4px no-repeat;
	transition: 0.3s;
	opacity: 0.6;
}
.game-right_item:hover{
	opacity: 1;
}
.game-right_item__active{
	opacity: 1;
}
.game-mid_item{
	display: none;
	transition: 0.3s;
}
.game-mid_item__active{
	display: block;
}
.like-list-wrap{
	display: flex;
	justify-content: space-between;
	padding: 10px 70px;
}
.like-list{
	width: 50%;
	color: #fff;
}
.like-list:first-child{
	border-right: 1px solid #fff;
	padding-right: 55px;
}
.like-list:last-child{
	padding-left: 55px;
	position: relative;
	z-index: 2;
}
.like-list:last-child::before{
	content: '';
  position: absolute;
  width: 307px;
  height: 288px;
  background: url(../img/like/plus.png) center no-repeat;
  right: -100px;
  bottom: -100px;
  background-size: contain;
  z-index: 1;
  transform: rotate(135deg);
}
.like-item{
	font-size: 18px;
	line-height: 24px;
	padding: 0 0 23px 45px;
}
.like-item__left{
	background: url(../img/icons/ic-star-white.png) left 3px no-repeat;
}
.like-item__right{
	background: url(../img/icons/ic-shoot.png) left 3px no-repeat;
	z-index: 2;
	position: relative;
}
.like-item__title{
	font-family: 'Metro', arial;
	font-size: 16px;
	line-height: 24px;
	padding: 0 0 25px;
	background: none;
}

/* price */
.price{
	position: relative;
}
.price::before,
.price::after{
	content: '';
	position: absolute;
	bottom: 0px;
	width: 350px;
	height: 700px;
	background: url(../img/price/price-bg.png) right bottom no-repeat;
	background-size: 100% 100%;
	z-index: 5;
}
.price::before{
	left: 0;
	transform: rotate(180deg);
	bottom: -50px;
}
.price::after{
	right: 0;
}
.price-in{
	z-index: 10;
	position: relative;
}
.price .tab-head{
	width: calc(24% - 47px);
}
.price .like-tab:nth-child(3)::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 80px 0;
    border-color: transparent #EBD354 transparent transparent;
    left: -79px;
}
.price .like-tab:nth-child(3)::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 0 0 80px;
    border-color: transparent transparent transparent #EBD354;
    right: -79px;
}
.like-tab:nth-child(3) .like-tab-ic {
    width: 55px;
    height: 55px;
}
.price .like-tab:first-child .like-tab-ic{
	background: url(../img/price/1.svg) center no-repeat;
}
.price .like-tab:nth-child(2) .like-tab-ic{
	background: url(../img/price/2.svg) center no-repeat;
}
.price .tab-head__active.like-tab:first-child .like-tab-ic{
	background: url(../img/price/11.svg) center no-repeat;
}
.price .tab-head__active.like-tab:nth-child(2) .like-tab-ic{
	background: url(../img/price/22.svg) center no-repeat;
}

.price .like-tab:nth-child(3) .like-tab-ic{
	background: url(../img/price/3.svg) center no-repeat;
}
.price .like-tab:last-child .like-tab-ic{
	background: url(../img/price/4.svg) center no-repeat;
}
.price .tab-head__active.like-tab:nth-child(3) .like-tab-ic{
	background: url(../img/price/33.svg) center no-repeat;
}
.price .tab-head__active.like-tab:last-child .like-tab-ic{
	background: url(../img/price/44.svg) center no-repeat;
}
.price .like-tab:nth-child(3) .like-tab-shadow {
    left: 0;
    right: -79px;
}
.price-head-wrap{ 
	margin-bottom: 55px;
}
.price-tems{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.price-item{
	width: calc(25% - 22px);
	border-radius: 2px 2px 0px 0px;
}
.price-item_top{
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
	color: #fff;
	padding: 17px 10px;
	text-align: center;
	border-radius: 2px 2px 0px 0px;
	background: linear-gradient(250.8deg, #B60604 0.8%, #F94630 27.15%, #E80C0C 57.63%, #950808 100%);
}
.price-item_top span{
	display: block;
}
.price-top_title{
	font-family: 'Metro', arial;
	font-size: 22px;
	line-height: 32px;
}
.price-top_desc{
	font-size: 18px;
	line-height: 24px;
	padding-top: 2px;
}
.ic-clock{
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(../img/icons/ic-clock.svg) center no-repeat;
	margin-right: 5px;
}
.price-item_mid{
	padding-bottom: 20px;
	background: #fff;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}
.price-mid{
	padding: 5px 25px 0;
}
.price-mid li{
	height: 65px;
	display: flex;
	justify-content: space-between;
	padding: 11px 0;
	border-bottom: 1px solid #9D9D9D;
}
.price-mid li:last-child{
	border-bottom: none;
}
.price-mid-txt{
	width: 50%;
	align-self: center;
	font-size: 12px;
	line-height: 14px;
}
.price-ic{
	width: 50%;
	padding-right: 10px;
	align-self: center;
	display: block;
	height: 100%;
}
.price-num i{
	background: url(../img/icons/ic-num.png) center left no-repeat;
}
.price-clothes i{
	background: url(../img/icons/ic-clothes.png) center left no-repeat;
}
.price-complect i{
	background: url(../img/icons/ic-complect.png) center left no-repeat;
}
.price-optional i{
	background: url(../img/icons/ic-optional.png) center left no-repeat;
}
.price-rest i{
	background: url(../img/icons/ic-rest.png) center left no-repeat;
}
.price-help i{
	background: url(../img/icons/ic-help.png) center left no-repeat;
}
.price-clothes-2 i{
	background: url(../img/icons/ic-clothes-2.png) center left no-repeat;
}
.price-complect-2 i{
	background: url(../img/icons/ic-complect-2.png) center left no-repeat;
}
.price-optional-2 i{
	background: url(../img/icons/ic-optional-2.png) center left no-repeat;
}
.price-def i{
	background: url(../img/icons/ic-def.png) center left no-repeat;
}
.price-svg i{
	background: url(../img/icons/ic-svg.png) center left no-repeat;
}
.price-square i{
	background: url(../img/icons/ic-square.png) center left no-repeat;
}
.price-table i{
	background: url(../img/icons/ic-table.png) center left no-repeat;
}
.price-tech i{
	background: url(../img/icons/ic-tech.png) center left no-repeat;
}
.price-num-2 i{
	background: url(../img/icons/ic-num-2.png) center left no-repeat;
}
.price-num-3 i{
	background: url(../img/icons/ic-num-3.png) center left no-repeat;
}
.price-list i{
	background: url(../img/icons/ic-list.png) center left no-repeat;
}
.price-item_btn{
	padding: 20px 40px 0;
}
.price-stars{
	padding-top: 10px;
	text-align: center;
}
.price-star{
	display: inline-block;
	margin: 0 2px;
	width: 25px;
	height: 25px;
	background: url(../img/icons/ic-star.svg) center no-repeat;
}
.price-item_bot{
	background: url(../img/price/triangle.png) top center no-repeat;
	height: 195px;
}
.price-item_mid p{
	padding: 20px 25px 0;
	font-size: 12px;
	line-height: 14px;
}
.goal{
	width: 315px;
	height: 315px;
	background: url(../img/icons/goal.svg) center no-repeat;
	display: flex;
	background-size: 100% 100%;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.goal_num{
	width: 100%;
	text-align: center;
	font-family: 'Metro', arial;
	color: #FF1600;
	font-size: 40px;
	line-height: 52px;
	padding-bottom: 10px;
	position: relative;
	z-index: 10;
}
.goal_txt{
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	max-width: 165px;
	align-self: center;
	color: #000;
	position: relative;
	z-index: 10;
}
.goal::before{
	content: '';
	position: absolute;
	background: #EBD354;
	filter: blur(50px);
	width: 116px;
	height: 116px;
	left: 50%;
	margin-left: -58px;
	top: 50%;
	margin-top: -58px;
}
.goal::after{
	content: '';
	position: absolute;
	background: #EBD354;
	opacity: 0.5;
	filter: blur(81px);
	width: 116px;
	height: 116px;
	left: 50%;
	margin-left: -58px;
	top: 50%;
	margin-top: -58px;
}
.price-list{
	padding-top: 35px;
}
.price-list li{
	font-size: 18px;
	line-height: 24px;
	padding: 0 0 25px 43px;
	color: #000;
	background: url(../img/icons/ic-star-silver.png) left 3px no-repeat;
}
.star-block{
	height: 320px;
	display: flex;
	width: 100%;
	justify-content: center;
	position: relative;
}
.star-txt{
	align-self: center;
	font-size: 18px;
	text-align: center;
	line-height: 24px;
	max-width: 200px;
	z-index: 20;
}
.star-color{
	color: #FF1600;
	font-family: 'Metro', arial;
	font-size: 16px;
	display: block;
	padding: 8px 0;
}
.star-block::before{
	content: '';
	background: url(../img/icons/ic-star-stroke.svg) center no-repeat;
	width: 320px;
	height: 300px;
	position: absolute;
	top: 20px;
	left: -10px;
	z-index: 1;
}
.star-block::after{
	content: '';
	background: url(../img/icons/ic-star-yellow.svg) center no-repeat;
	background-size: 100% 100%;
	z-index: 10;
	width: 320px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

/* review */
.big-bg{
	position: relative;
}
.big-bg::before{
	content: '';
	position: absolute;
	top: -150px;
	left: 0;
	right: 0;
	height: 2830px;
	background: url(../img/big-bg.png) center no-repeat;
	background-size: 100% auto;
	z-index: 1;
}
.reveiw{
	padding-top: 200px;
	z-index: 10;
	position: relative;
}
.reveiw .section-title{
	color: #fff;
	z-index: 10;
}
.reveiw-tab:first-child{
	width: 470px;
}
.reveiw-tab:last-child{
	width: calc(100% - 553px);
}
.reveiw-tab:first-child .like-tab-ic{
	background: url(../img/review/1.svg) center no-repeat;
	width: 51px;
	height: 51px;
}
.tab-head__active.reveiw-tab:first-child .like-tab-ic{
	background: url(../img/review/11.svg) center no-repeat;
}
.reveiw-tab:last-child .like-tab-ic{
	background: url(../img/review/2.svg) center no-repeat;
	width: 69px;
	height: 55px;
}
.tab-head__active.reveiw-tab:last-child .like-tab-ic{
	background: url(../img/review/22.svg) center no-repeat;
}
.reveiw .reveiw-tab:last-child::after{
	content: none;
}
.reveiw-body-wrap{
	margin-top: 25px;
	min-height: 650px;
	padding-bottom: 25px;
	padding-top: 200px;
}
.gallery .section-title{
	color: #fff;
	padding-bottom: 50px;
}
.slick-arrow{
	color: transparent;
	font-size: 0;
	width: 50px;
	height: 50px;
	background: #fff url(../img/icons/arrow-grey.svg) 16px center no-repeat;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	box-shadow: 0px 3px 10px rgba(71, 70, 70, 0.9);
	transition: 0.3s;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	z-index: 100;
}
.slick-arrow:hover{
	opacity: 0.8;
}
.slick-prev{
	left: 0;
}
.slick-next{
	right: 0;
	transform: rotate(180deg);
}
.slick-disabled{
	cursor: default;
	opacity: 0.5;
	pointer-events: none;
}
/* gallery */
.gallery{
	position: relative;
	z-index: 10;
	padding: 300px 0 200px;
}
.gallery-block{
	border: 10px solid #fff;
	overflow: hidden;
	display: block;
}
.gallery-block img{
	width: 100%;
	height: auto;
	min-height: 100%;
}
.gallery-in{
	display: flex;
	justify-content: space-between;
}
.gallery-left{
	width: 480px;
}
.galler-right{
	width: calc(100% - 510px);
}
.gallery-db{
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
.gallery-half{
	width: calc(50% - 15px);
}
.gallery .slick-arrow{
	margin-top: 0;
	top: auto;
	bottom: 0;
}
.gallery .slick-prev{
	right: 150px;
	left: auto;
}
.gallery-wrap{
	padding-bottom: 80px;
}
.pagination{
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	position: absolute;
  bottom: 5px;
  right: 76px;
}
.pagination-current{
	font-family: 'Metro', arial;
	font-size: 28px;
	line-height: 44px;
}
.pagination-mid{
	font-family: 'Metro', arial;
	font-size: 28px;
	line-height: 44px;
}
.gallery-container{
	position: relative;
}
/* order */
.order{
	position: relative;
	padding-bottom: 300px;
}
.order::before{
	content: '';
	position: absolute;
	top: -200px;
	left: 0;
	right: 0;
	height: 300px;
	background: #F8F1B5;
}
.order-wrap{
	position: relative;
	z-index: 10;
	padding-top: 100px;
}
.order-tab:first-child{
	width: calc(50% - 42px);
}
.order-tab:last-child{
	width: calc(50% - 42px);
}
.order-body-wrap{
	margin-top: 30px;
}
.order-tab:first-child .like-tab-ic {
	background: url(../img/order/1.svg) center no-repeat;
}
.tab-head__active.like-tab:first-child .like-tab-ic {
	background: url(../img/order/11.svg) center no-repeat;
}
.order-tab:last-child .like-tab-ic {
	background: url(../img/order/2.svg) center no-repeat;
}
.tab-head__active.like-tab:last-child .like-tab-ic {
	background: url(../img/order/22.svg) center no-repeat;
}
.order-items{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 50px;
	position: relative;
}
.order-items::before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 110px;
	height: 0;
	border-bottom: 3px dotted #555;
}
.order-item{
	width: 270px;
	background: #F8F1B5;
	position: relative;
	z-index: 10;
}
.order-img img{
	display: block;
	text-align: center;
	margin: 0 auto;
}
.order-txt{
	text-align: center;
	padding: 10px 0;
	font-size: 18px;
	line-height: 24px;
}
.tu{
	display: inline-block;
	transition: 0.3s;
	border-bottom: 1px solid #000;
}
.tu:hover{
	color: #FF1600;
	border-color: #FF1600;
}

/* memo */
.memo{
	padding-bottom: 100px;
	background: url(../img/memo/memo-bg.png) left -120px no-repeat;
}
.memo-in{
	color: #000;
	display: flex;
	justify-content: space-between;
}
.memo-left img{
	display: block;
	width: 100%;
}
.memo-left{
	width: 850px;
}
.memo-right{
	width: calc(100% - 850px);
	max-width: 590px;
}
.memo-title{
	font-family: 'Metro', arial;
	display: block;
	font-size: 22px;
	line-height: 32px;
	padding-bottom: 5px;
}
.memo-desc{
	font-size: 24px;
	line-height: 30px;
}
.memo-top{
	position: relative;
	padding-bottom: 40px;
}
.memo-txt{
	font-family: 'Metro', arial;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 35px;
}
.memo-form_btns{
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
.memo-form_btn{
	width: calc(33.33% - 10px);
	height: 60px;
	line-height: 24px;
	color: #9D9D9D;
	font-size: 18px;
	background: #E9E9E9;
	cursor: pointer;
	transition: 0.3s;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	display: flex;
	justify-content: center;
}
.memo-form_ic{
	align-self: center;
	display: inline-block;
	margin-right: 10px;
	width: 25px;
	height: 25px;
	opacity: 0.5;
	transition: 0.3s;
}
.memo-form_btn span{
	align-self: center;
	display: block;
}
.memo-form_ic__sms{
	background: url(../img/icons/sms.png) center no-repeat;
}
.memo-form_ic__wa{
	background: url(../img/icons/wa.png) center no-repeat;
}
.memo-form_ic__tg{
	background: url(../img/icons/tg.png) center no-repeat;
}
.memo-form_btn:hover .memo-form_ic{
	opacity: 1;
}
.memo-form_btn__active .memo-form_ic{
	opacity: 1;
}
.memo-form_btn__active{
	background: #fff;
	color: #555;
	box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.5);
	cursor: default;
	pointer-events: none;
}
.memo-form_desc{
	font-size: 12px;
	line-height: 14px;
	padding-left: 27px;
	position: relative;
	display: block;
	cursor: pointer;
}
.memo-form_access{
	display: inline-block;
	margin: 30px 0 25px;
}
.memo-form_desc::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #CECECE;
	border-radius: 1px;
	background: #fff;
}
.memo-form_desc::after{
	content: '';
	position: absolute;
	left: 4px;
  top: 2px;
	width: 15px;
	height: 10px;
	background: url(../img/icons/ic-check.svg) center no-repeat;
	display: none;
}
.memo-form_desc a{
	transition: 0.3s;
	border-bottom: 1px solid #000;
}
.memo-form_desc a:hover{
	border-color: #CECECE;
}
.memo-form_access input{
	display: none;
}
.memo-form_access input:checked+span::after{
	display: block;
}
.memo_btn-wrap .btn{
	margin: 0;
}
.memo-desc{
	padding-top: 23px;
	font-size: 18px;
	line-height: 24px;
}

/* footer */
footer{
	padding: 180px 0 100px;
	background: url(../img/grey-bg.png) top center no-repeat;
	background-size: 100% 100%;
	color: #fff;
}
.footer-map{
	min-height: 1100px;
	background: url(../img/map-bg.png) center no-repeat;
	height: 100%;
}
.footer-txt{
	max-width: 600px;
	font-size: 24px;
	line-height: 30px;
	padding-bottom: 45px;
}
.footer-img{
	margin-bottom: 45px;
}
.footer-address{
	padding-bottom: 15px;
}
.footer-address_title{
	font-family: 'Metro', arial;
	font-size: 18px;
	line-height: 24px;
	display: inline-block;
}
.footer-address_desc{
	font-size: 16px;
	line-height: 22px;
	display: inline-block;
	padding-left: 35px;
	position: relative;
}
.footer-address_desc::before{
	content: '';
	left: 13px;
	top: 1px;
	width: 13px;
	height: 18px;
	position: absolute;
	background: url(../img/icons/ic-location.svg) center no-repeat;
}
.footer-tel{
	color: #FF1600;
	font-size: 24px;
	line-height: 22px;
	padding-bottom: 20px;
}
.footer-tel span{
	display: inline-block;
	padding-right: 30px;
	font-family: 'Metro', arial;
	font-size: 18px;
	line-height: 24px;
}
.footer-info-wrap{
	display: flex;
	justify-content: end;
}
.footer-info{
	padding-bottom: 40px;
	border-bottom: 1px solid #FFF;
	max-width: 690px;
	width: 100%;
}
.footer-links{
	display: flex;
	justify-content: space-between;
	padding-right: 140px;
}
.footer-links_desc{
	font-family: 'Metro', arial;
	font-size: 18px;
	line-height: 24px;
	align-self: center;
}
.footer-link{
	width: 40px;
	height: 40px;
	align-self: center;
	background: #000;
	transition: 0.3s;
}
.footer-link:hover{
	opacity: 0.8;
}
.footer-link__wa{
	background: url(../img/icons/ic-wa.svg) center no-repeat;
	background-size: 100% 100%;
}
.footer-link__tg{
	background: url(../img/icons/ic-tg.svg) center no-repeat;
	background-size: 100% 100%;
}
.footer-link__mail{
	background: url(../img/icons/ic-mail.svg) center no-repeat;
	background-size: 100% 100%;
}
.footer-bot{
	width: 100%;
	max-width: 690px;
	padding-top: 40px;
	font-size: 18px;
	line-height: 24px;
}
.footer-bot a{
	display: inline-block;
	border-bottom: 1px solid #fff;
	font-size: 12px;
	line-height: 14px;
	padding-top: 16px;
	transition: 0.3s;
}
.footer-bot a:hover{
	border-color: transparent;
}

/* slider 3d */

.reveiw .slick-slide{
	transition: 0.5s;
	transform: scale(0.8);
}
.reveiw .slick-center{
	transform: scale(1.1) translateX(-80px);
}
/* policy */
.policy{
	padding: 200px 0 100px;
	font-size: 18px;
	line-height: 24px;
}
.policy-color{
	color: #FF1600;
}
.policy-title{
	padding-bottom: 35px;
	font-family: 'Metro', arial;
	font-size: 40px;
	line-height: 44px;
	text-align: center;
}
.policy-desc{
	padding-bottom: 25px;
}
.policy li{
	padding-bottom: 10px;
}

/* modals */
.modal{
	padding: 0;
	display: none;
	background: url(../img/bg-grey.png) center repeat;
}
.modal-in{
	padding: 50px;
}
.callback .modal_title{
	max-width: 330px;
}
.modal_title{
	display: block;
	font-family: 'Metro', arial;
	font-size: 28px;
	line-height: 44px;
	text-align: center;
	letter-spacing: 0.05em;
	margin: 0 auto 39px;
}
.modal_input-wrap{
	padding-bottom: 16px;
}
.modal_input{
	line-height: 60px;
	padding: 0 30px;
	font-size: 18px;
	background: #fff;
	border: 1px solid #9D9D9D;
	border-radius: 2px;
	transition: 0.3s;
	width: 100%;
}
.modal_input:focus{
	border: 1px solid #F8F1B5;
	box-shadow: 0px 0px 6px rgba(244, 225, 141, 0.7);
}
.callback{
	max-width: 516px;
}
.modal_choose-time{
	display: flex;
	justify-content: space-between;
	padding-bottom: 16px;
}
.modal_choose-time div{
	cursor: pointer;
	width: calc(50% - 8px);
	background: #E9E9E9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	text-align: center;
	line-height: 60px;
	transition: 0.3s;
}
.modal_choose-time .modal_choose-time__active{
	background: #fff;
	box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.5);
	color: #FF1600;
	cursor: default;
	pointer-events: none;
}
.modal_choose-time div:hover{
	box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.5);
}
.thanks-modal{
	padding: 0;
	background: url(../img/bg-dark.jpg);
	filter: drop-shadow(0px 8px 10px rgba(255, 29, 29, 0.5)) drop-shadow(0px 20px 30px rgba(255, 29, 29, 0.7));
	border-radius: 5px;
	max-width: 530px;
}
.thanks-modal-in{
	font-size: 18px;
	line-height: 24px;
	padding: 55px 25px;
	color: #fff;
}
.thanks-modal_title{
	font-family: 'Metro', arial;
	font-size: 28px;
	line-height: 44px;
	text-align: center;
	letter-spacing: 0.05em;
	display: block;
	text-align: center;
	padding-bottom: 40px;
}
.thanks-modal_desc{
	padding-bottom: 25px;
	position: relative;
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
}
.thanks-modal_desc::before{
	content: '';
	bottom: 0;
	width: 254px;
	position: absolute;
	left: 50%;
	margin-left: -127px;
	border: 1px dashed #9D9D9D;
}
.thanks-modal_foot{
	display: block;
	text-align: center;
	padding-top: 25px;
}
.form-check{
	text-align: center;
}
.modal-big-in{
	padding: 70px;
	max-width: 1400px;
}
.form_flex{
	display: flex;
	justify-content: space-between;
}
.form_left{
	width: 310px;
	padding-right: 55px;
	justify-content: end;
	display: flex;
}
.form_right{
	width: calc(100% - 250px);
	display: flex;
}
.form_flex .modal_input-wrap{
	width: calc(33.33% - 10px);
}
.form_flex .modal_input-wrap:nth-child(2){
	margin: 0 15px;
}
.modal_input-desc{
	align-self: center;
	padding-bottom: 16px;
	font-size: 18px;
	line-height: 24px;
}
::-webkit-input-placeholder {
   color: #CECECE;
}
::-moz-placeholder {
   color: ##CECECE;
}

.form_select{
	position: relative;
}
.form_select__num .form_select-tab{
	text-align: center;
}
.form_select__passive{
	cursor: default;
	pointer-events: none;
	opacity: 0.4;
}
.form_select-tab{
	cursor: pointer;
	display: block;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	padding: 12px 7px;
	transition: 0.3s;
	border: 1px solid transparent;
	border-bottom-color: #CECECE;
}
.form_select-tab:last-child{
	border-bottom-color: transparent;
}
.form_select-tab__active,
.form_select-tab:hover{
	color: #FF1600;
	border-color: #FF1600!important;
}
.form_select-body{
	display: none;
	padding: 17px;
	background: #FFFFFF;
	border-radius: 2px;
	border-top: 10px solid #EBD354;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form_select-btn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px 45px 5px 22px;
	color: #CECECE;
	border: 1px solid #9D9D9D;
	border-radius: 2px;
	font-size: 18px;
	line-height: 16px;
	height: 60px;
	background: #fff;
	cursor: pointer;
	position: relative;
	transition: 0.3s;
}
.form_select-btn::before{
	background: url(../img/icons/ic-select-arrow.svg) center no-repeat;
	content: '';
	position: absolute;
	width: 12px;
	height: 8px;
	right: 25px;
	top: 50%;
	margin-top: -4px;
	transition: 0.3s;
}
.form_select-btn-min{
	font-size: 12px;
	line-height: 14px;
}
.form_select-btn__active::before{
	transform: rotate(180deg);
}
.form_select-body{
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	z-index: 10;
}
.select-flex{
	display: flex;
	justify-content: space-between;
}
.select-flex_left{
	display: flex;
	align-self: center;
	flex-direction: column;
	justify-content: center;
}
.select-flex_bot{
	font-size: 12px;
	line-height: 14px;
	display: block;
	text-align: left;
}
.select-flex_top{
	display: block;
	text-align: left;
}
.select-flex_right{
	color: #9D9D9D;
	font-size: 12px;
	line-height: 14px;
	align-self: center;
}
.select-item{
	display: none;
}
.form_select-tab__input{
	font-size: 18px;
}
.form-right_txt{
	font-family: 'Metro', arial;
	font-size: 14px;
	line-height: 22px;
	color: #9D9D9D;
	align-self: center;
	padding-bottom: 16px;
}
.form_flex__bg{
	position: relative;
}
.form_flex__bg::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 688px;
	height: 28px;
	background: #F8F1B5;
	border-radius: 2px;
	background: #F8F1B5;
}
.form_flex__bg .form_left,
.form_flex__bg .form_right{
	z-index: 2;
}
.modal_textarea-wrap{
	width: 100%;
	padding-bottom: 16px;
}
.modal_textarea{
  padding: 17px 30px;
  font-size: 18px;
  line-height: 24px;
  background: #fff;
  border: 1px solid #9D9D9D;
  border-radius: 2px;
  transition: 0.3s;
  width: 100%;
}
.modal_input-desc__big{
	align-self: start;
	padding-top: 10px;
}

/* timer */
.countdown {
  padding: 15px;
	max-width: 350px;
	width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.countdown:before,
.countdown:after{
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	background: #4A4A47;
	left: 50%;
	margin-left: -3px;
	top: 58px;
}
.countdown:after{
	top: 80px;
}
.countdown .bloc-time {
  text-align: center;
  padding-left: 10px;
}
.countdown .bloc-time:last-child {
  margin-right: 0;
}
.countdown .count-title {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
	line-height: 24px;
	padding-top: 10px;
}
.countdown .figure {
  position: relative;
  float: left;
  height: 112px;
  width: 60px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 3px solid #42423C;
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
}
.countdown .figure:last-child {
  margin-right: 0;
}
.countdown .figure > span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font: normal 5.94em/107px "Bebas Neue";
  font-weight: 700;
  color: #FF1600;
}
.min  .figure > span {
	color: #5F5F5B;
}
/*.countdown .figure .top:after, .countdown .figure .bottom-back:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #FFFFFF -25.05%, #FBFAF9 18.05%, #EFECE8 75.27%, #E8E3DE 101.93%);;
}*/
.countdown .figure .top {
  z-index: 3;
  background-color: #f7f7f7;
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-transform: perspective(200px);
  -ms-transform: perspective(200px);
  -webkit-transform: perspective(200px);
  transform: perspective(200px);
  background: linear-gradient(180deg, #FFFFFF 30%, #EFECE8 50%, #E8E3DE 60%);
}
.countdown .figure .bottom {
  z-index: 1;
  background: linear-gradient(180deg, #FFFFFF 50%, #F8F6F5 75%, #E8E3DE 90%);
}
.countdown .figure .bottom:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.02);
}
.countdown .figure .bottom-back {
  z-index: 2;
  top: 0;
  height: 50%;
  overflow: hidden;
  background: linear-gradient(180deg, #FFFFFF 30%, #EFECE8 50%, #E8E3DE 60%);
}
.countdown .figure .bottom-back span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.countdown .figure .top, .countdown .figure .top-back {
  height: 50%;
  overflow: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}
.countdown .figure .top-back {
  z-index: 4;
  bottom: 0;
  background: linear-gradient(180deg, #FFFFFF 50%, #F8F6F5 60%, #E8E3DE 80%);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -moz-transform: perspective(200px) rotateX(180deg);
  -ms-transform: perspective(200px) rotateX(180deg);
  -webkit-transform: perspective(200px) rotateX(180deg);
  transform: perspective(200px) rotateX(180deg);
  border-bottom-right-radius: 10px;
}
.countdown .figure .top-back span {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: auto;
}
.bloc-time.hours{
	display: none;
}
.bonus{
	display: flex;
	justify-content: space-between;
}
.bonus-left{
	width: 450px;
	padding: 40px;
	background: #fff;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}
.bonus-in{
	text-align: center;
}
.bonus-right{
	width: calc(100% - 450px);
	padding-left: 100px;
}
.bonus_title-top{
	font-family: 'Metro', arial;
	display: block;
	font-size: 14px;
	line-height: 22px;
}
.bonus_title-bot{
	font-size: 22px;
	line-height: 32px;
	font-family: 'Metro', arial;
	color: #FF1600;
	padding: 5px 0 20px;
}
.bonus_title-bot span{
	color: #555;
	position: relative;
	display: inline-block;
	margin-right: 5px;
}
.bonus_title-bot span::before{
	content: '';
	position: absolute;
	height: 2px;
	background: #FF1600;
	left: -5px;
	right: -5px;
	top: 49%;
}
.bonus-des{
	font-size: 18px;
	line-height: 24px;
}
.bonus-img{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bonus-img img{
	display: block;
	width: 100%;
}
.bonus-bot{
	font-size: 18px;
	line-height: 24px;
	padding-top: 5px;
}
.modal-bonus_btn{
	display: none;
}
.datepicker-inline .datepicker{
	border: none;
	width: 100%;
}
.datepicker--cell-day {
    border: 1px solid #CECECE;
    width: 14.28571%;
}
.datepicker--cells{
  border: 1px solid #CECECE;
	font-size: 18px;
	color: #000;
}
.datepicker--cell.-disabled-{
		color: rgba(0,0,0,0.3)!important;
}
.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade-{
	color: rgba(0,0,0,0.5);
}
.datepicker--cell{
	border-radius: 0;
}
.datepicker--day-name{
	font-size: 18px;
	line-height: 24px;
	color: #555;
	padding-bottom: 5px;
}
.datepicker--nav-title{
	font-family: 'Metro', arial;
	font-size: 14px;
	line-height: 22px;
	color: #555555;
}
.datepicker--nav{
	background: #EBD354;
}
.datepicker--nav-action path{
	stroke: #555;
}
.calendare-in{
    padding: 5px 45px 5px 22px;
    border: 1px solid #9D9D9D;
    border-radius: 2px;
    font-size: 18px;
    line-height: 48px;
    background: #fff;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    width: 100%;
}
.calendare{
	position: relative;
  color: #CECECE;
}
.calendare::before{
    background: url(../img/icons/ic-select-arrow.svg) center no-repeat;
    content: '';
    position: absolute;
    width: 12px;
    height: 8px;
    right: 25px;
    top: 50%;
    margin-top: -4px;
    z-index: 10;
    transition: 0.3s;
}
.calendare__active{
	color: #000;
}
.calendare__active::before {
    transform: rotate(180deg);
}
.datepicker-inline{
	display: none;
	position: absolute;
	top: 60px;
	right: 0;
	left: 0;
	z-index: 20;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	background: #fff;
}
.datepicker--nav{
	padding: 0;
}
.datepicker--content{
	padding: 0 10px 20px;
}